# python==3.8

# collection of utils
werdsazxc @ git+https://github.com/willy11342002/werdsazxc

# for screenshot
opencv-python

# for ui design
pystray

# for system control
pyautogui
keyboard
pywin32

# for config parsing
PyYaml
